// SCSS Color Variables
$color-white: #ffffff;
$color-grey--row: #e6e6e6;
$color-button--grey: #dddddd;
$color-grey--light: #d2d2d2;
$color-grey--dark: #a5a5a5;
$color-green--row: #a2cd39;
$color-green: #008000;
$color-button--blue: #1886fe;
$color-blue: #007bff;
$color-greyish--black: #1e1e1e;
$color-red: #ff2400;
$color-black: #000000;
// SCSS Color Variables
